<div class="mentor-container">
		<div class="info-div">
			<h1>About Mentor Hub</h1>
			<div class="top">
				<div class="info-pic">
					<img src="/assets/images/topics-min.png" alt="">
				</div>
				<p>Need a little help advancing in your career? On Mentor Hub, browse through career topics and choose a mentor that can help you. Our mentors have varying skill levels, so theres always someone thats a perfect fit for you!</p>
			</div>
			<div class="mid">
				<p>One on one comunication using Google Hangouts. Your mentor will be able to demontrate the skills you need with video chat, messaging, and screen share.</p>
				<div class="info-pic"><img src="/assets/images/hangouts-min.png" alt=""></div>
			</div>
			<div class="bot">
				<div class="info-pic"><img src="/assets/images/calendly-min.png" alt=""></div>
				<p>We know that your life can get busy. Schedule a time to meet with a mentor using calendly! You pick the time that works for you! </p>
			</div>
			<div class="bot" ng-controller="UserCtrl">
			 <p  ng-hide="authData">All accounts are free! Get started growing your career today!
			 <span ui-sref="signup"  ng-hide="authData">Sign Up</span> 
			 </p>
			 
			</div>
	</div>
</div>