
<div class="landing-title title">
	<h1>Mentor Hub</h1>
	<h4>Advance in your field, with the help of a mentor! <span ui-sref="info">Click Here to Learn More!</span></h4>
		<div class="landing">
		<div class="landing-child">
			<span class="ion-ios-people" ui-sref="topics"></span>
				<h4>Choose your mentor</h4>
		</div>
		<div class="landing-child">
			<span class="ion-ios-calendar"></span>
			<h4>Schedule a meeting</h4>
		</div>
		<div class="landing-child">
			<span class="ion-ios-star" ui-sref="signUp"></span>
			<h4>Free Account</h4>
		</div>
	</div>
</div>


<div class="logged-in" ng-controller="UserCtrl">
	<p ng-show="authData">Logged in as {{ authData.password.email }}</p>
</div>
<div class="move">

<div class="landing-container">
<br>
	
	

</div>
</div>