
<h1 class="title-h1">Mentor Hub</h1>
<div class="move">
<div class="landing-container">
<br>
	<h1 id="landing-h1">Advance in your field with a mentor!</h1>
	<div class="landing">
		<div class="landing-child">
			
			<span class="ion-ios-people" ui-sref="topics"></span>
				<h4>Chose your mentor</h4>
		</div>
		<div class="landing-child">
			<span class="ion-ios-calendar"></span>
			<h4>Schedule an meeting</h4>
		</div>
		<div class="landing-child">
			<span class="ion-ios-star" ui-sref="signUp"></span>
			<h4>Free Account</h4>
		</div>
	</div>
</div>
</div>