<div class="mentor-container" ng-controller="ProfileCtrl">
	<div  ng-show="editable">
		<form name="profile" class="edit-form" ng-show="editable">
		<fieldset class="form-inline">
			<label for="">Name:</label>
				<input class="form-control" type="text" name="input" ng-model="profile.name" placeholder="Input your name" value="{{info.name}}">
			</fieldset>
			<fieldset  class="form-inline">
			<label for="">Age:</label>
				<select ng-model="profile.age"><option id="option" ng-repeat="option in ranges(10,100)"value="{{option}}" placeholder="{{info.age}}">{{option}}</option></select>
			</fieldset>
			<fieldset class="form-inline">
			<label for="">Topic of Interest: </label>
				<input class="form-control" type="text" name="input" ng-model="profile.topic" placeholder="Examples: business, photography, html">
			</fieldset>
			<fieldset class="form-inline">
			<label for="">Years experience:</label>
				<select ng-model="profile.years"><option id="option" ng-repeat="option in ranges(1,30)"value="{{option}}">{{option}}</option></select>
			</fieldset>
			<fieldset class="form-inline">
			<label class="back" for="">Background: </label>
				<textarea type="text" name="input" ng-model="profile.background" placeholder="Describe yourself and goals from mentoring"></textarea>
			</fieldset>
			<br>
			<input type="submit" value="Save" class="btn btn-success pull-right" ng-click="save()">
		</form>
	</div>
	<div class="profile-info" ng-show="!editable">
		<gravatar-image></gravatar-image>
		<br>
		<table style="width:100%">
  		<tr>
    		<td>Name:</td>
    		<td>{{info.name}}</td>
  		</tr>
  		<tr>
    		<td>Age</td>
    		<td>{{info.age}}</td>
  		</tr>
  		<tr>
    		<td>Topics: </td>
    		<td>{{info.topic}}</td>
  		</tr>
  		<tr>
    		<td>Years Experience:</td>
    		<td>{{info.years}}</td>
  		</tr>
  		<tr>
    		<td id="center">Background</td>
    		<td></td>
  		</tr>
		</table>
		<p>{{info.background}}</p>
		
		<button class="btn btn-danger pull-right" ng-click="edit()">Edit</button>
	</div>		
</div>

