<div class="mentor-container" ng-controller="ProfileCtrl">
		<form name="profile" class="edit-form" ng-show="editable">
		<fieldset class="form-inline">
			<label for="">Name:</label>
				<input class="form-control" type="text" name="input" ng-model="profile.name" placeholder="Input your name" value="{{info.name}}">
			</fieldset>
			<fieldset  class="form-inline">
			<label for="">Age:</label>
				<select ng-model="profile.age"><option id="option" ng-repeat="option in ranges(10,100)"value="{{option}}" placeholder="{{info.age}}">{{option}}</option></select>
			</fieldset>
			<fieldset class="form-inline">
			<label for="">Topic of Interest: </label>
				<input class="form-control" type="text" name="input" ng-model="profile.topic" placeholder="Examples: business, photography, html">
			</fieldset>
			<fieldset class="form-inline">
			<label for="">Years experience:</label>
				<select ng-model="profile.years"><option id="option" ng-repeat="option in ranges(1,30)"value="{{option}}">{{option}}</option></select>
			</fieldset>
			<fieldset class="form-inline">
			<label class="back" for="">Background: </label>
				<textarea type="text" name="input" ng-model="profile.background" placeholder="Describe yourself and goals from mentoring"></textarea>
			</fieldset>
			<br>
			<input type="submit" value="Save" class="btn btn-success pull-right" ng-click="save()">
		</form>
		<div ng-show="!editable" class="new-profile">
			<h1 id="user-h1">Profile info for {{user.username}}</h1>
			<h3>Name: <span>{{info.name}}</span></h3>
			<h3>Age: <span>{{info.age}}</span></h3>
			<h3>Topic: <span>{{info.topic}}</span></h3>
			<h3>Years: <span>{{info.years}}</span></h3>
			<h3>Background:</h3>
			<p>{{info.background}}</p>
			<button class="btn btn-danger pull-right" ng-click="edit()">Edit</button>
		</div>
	<!-- 	<div class="profile-info clearfix">
			<div class="image-left pull-left" ng-show="!editable"><img src="/assets/images/header_mobile.jpg" alt=""></div>
			<div class="info-">
				<h3 class='inline left'>Name: <span class="right">{{info.name}}</span></h3><br>
				<h3 class='inline left'>Age: <span class="right">{{info.age}}</span></h3><br>
				<h3 class='inline left'>Topic of Intrest:<p class="right">{{info.topic}}</p></h3><br>
				<h3 class='inline left'>Years of Experience: <span class="right">{{info.years}}</span></h3><br>
				<div class="background">
				<h3>Background info: </h3>
				<p class='background'>{{info.background}}</p>
				</div>
				<button class="btn btn-danger pull-right" ng-click="edit()">Edit</button>
			</div>
		</div> -->
	</div>

