<div class="mentor-container">
	<h1 class="mentor-h1">Mentor Topics</h1>
	<h3 class="mentor-h3">We have many different topics to choose from.</h3>
	<h4 class="mentor-h4">Please click on a topic to view the available mentors!</h4>
	<div ng-controller="UserCtrl">
		<h4 style="color: red" ng-hide="authData">Must be Logged In to View Topic Details</h4>
	</div>
	<br>
	<div ng-controller="TopicsCtrl"  class="icon-container">
		<div ng-repeat="topic in topics" class="icons">
			<a  ui-sref="{{topic.template}}"><span ng-class="topic.class"></span></a>
			<h1 class="title">{{topic.title}}</h1>
		</div>
	</div>
</div>