
@import "bower_components/angular-upload/src/directives/btnUpload.less";
*, *::before, *::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix::before, 
.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}
*{
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	
}
/****** Nav Bar Styles ******/
.nav-bar-top {
	width: 100%;
	background-color: ;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: .3rem;
	font-size: 1.3rem;
	background: black;
	padding-right: 3rem;
}
a, li{
	list-style: none;
	text-decoration: none;
	color: white;
}
a:hover {
	list-style: none;
	text-decoration: none;
}

.nav-left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.nav-right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
li {
	list-style: none;
	color: white;
	display: flex;
	margin-top: .3rem;
	margin-bottom: .3rem;
	width: 100%;
}
.nav-left li {
	justify-content: space-around;
}
.nav-right li {
	justify-content: flex-end;
}
ul {
	width: 100%;
}
/***** header styles  ******/

.main-header {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6)), url("/assets/images/header_mobile.jpg");
	width: 100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	z-index: 10;
	height: 100vh;
	overflow:hidden; 
}
.main-header img{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -10;
}
.title-h1{
	margin: auto;
	color: white;
	font-size: 3rem;
	text-shadow: -3px 3px rgba(0,0,0,0.6);
	z-index: 20;
	position: absolute;
	width: 100%;
	top: 20%;
	text-align: center;
	transition-duration: .5s;
	
}
.main-header:hover {
	top: 45%;
}
/**** landing styles *****/
.landing-container {
	width: 100;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}
.move{
	position: absolute;
	width: 100%;
	top: 30%;
}
.landing{
	width: 80%;
	margin: auto;
	z-index: 9999;
	color: black;
	display: flex;
	flex-direction: column;
	-webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}
#landing-h1 {
	margin: auto;
	font-size: 1rem;
}

.landing-child {
	display: flex;
	flex-direction: column;
	-webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
	margin: auto;
	color: white;
}
.landing-child h4{
	width: auto;
}

.ion-ios-people, .ion-ios-calendar, .ion-ios-star {
	color: rgba(255,255,255,.8);
	font-size: 8rem;
}
.ion-ios-people:hover, .ion-ios-calendar:hover, .ion-ios-star:hover {
	color: steelblue;
}
.storm {
	background-color: rgba(0,0,0,.6);
	color: white;
	border-radius: 1rem;
	position: absolute;
	width: 70%;
	height: 575px;
	top: 30%;
	left: 15%;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	z-index: 999;
}
.container h2{
	text-align: center;
}
.mentor-container {
	background-color: rgba(0,0,0,0.7);
	position: relative;
	color: white;
	border-radius: 1rem;
	position: absolute;
	width: 95%;
	height: 90%;
	top: 12%;
	left: 2.5%;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	z-index: 999;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: scroll; 
}
.testy {
	flex-direction: row;
}
.software {
	top: 5%;
}
.icon-container {
	display: flex;
	flex-direction: row;
	height: 70%;
	flex-wrap: wrap;
	
	overflow: scroll;
}
.icon-container::-webkit-scrollbar, .mentor-container::-webkit-scrollbar { 
	width: 0 !important;
	height: 0 !important
}

.icons {
	position: relative;
	width: 45.3%;
	height: auto;
	font-size: 1rem;
	margin: .4rem;
	text-align: center;
	padding: 1rem;
}
.mentor-image {
	width: 70%;
	border-radius: 5px;
	margin-bottom: 2rem;
}
.connor {
	display: block;
}
.mentor-panel {
	width: 100%;
	border-radius: 5px;
	background: rgba(255,255,255,0.5);
}
.mentor-panel img {
	width: 200px;
}
.schedule-page {
	border-radius: 5px;
	background: red;
	width: 100%;
	height: 300px;
}
.user-right{
	position: absolute;
	bottom: 25px;
	right: -10px;
	color: dimgray;
	width: 100%;
	text-align: center;
}
.mentor {
	color: white;
}
.title{
	position: absolute;
	top: 80px;
	width: 100%;
}
.ion-ios-monitor-outline,.ion-paintbrush ,.ion-person ,.ion-hammer ,.ion-film-marker ,.ion-camera {
	font-size: 8rem;
}
label {
	display: inline-block;
	float: left;
}
.edit-form {
	margin-top: 3rem;
	background: black;
	padding: 1.2rem;
	padding-bottom: 4rem;
	font-size: 1rem;
}

select {
	height: 400px;
	width: 50px;
}
#option {
	background-color: black;
	font-weight: 800;
	font-size: 2rem;
}
#user-h1 {
	font-size: 2rem;
	margin-top: 20px;
}
.new-profile {
	background: green;
	padding: 2rem;
}
input,select{
	float: right;
}
.back label {
	width: 100%;
}
textarea {
	width: 95%;
	min-height: 300px;
	color: black;
}

.background {
	width: 100%;
	margin-right: 10px;
	display: block;
	
}
table {
	padding: 2rem;
}
tr{
	border-bottom: 1px solid blue;
}
td {
	padding: 1rem;
	font-size: 2rem;
	text-align: left;
}
#center {
		width: 100%;
		text-align: center;
	}
/****** media queries  *****/
@media (min-width: 580px){
	.icons {
	width: 30.3%;
	font-size: 1.2rem;
	margin: .6rem;
}
	.title{
	top: 130px;
}
.ion-ios-monitor-outline,.ion-paintbrush ,.ion-person ,.ion-hammer ,.ion-film-marker ,.ion-camera {
	font-size: 12rem;
}
	.mentor-panel img {
	width: 80%;
}
}
@media (min-width: 650px){
	body {
	}
	.mentor-container {
		flex-direction: column;
	top: 7%;
}
	.connor {
	display: flex;
	flex-direction: column;
}
.mentor-panel {
	width: 20%;
	border-radius: 5px;
	background: rgba(255,255,255,0.5);
}
	
.schedule-page {
	border-radius: 5px;
	background: red;
	width: 75%;
	height: 500px;
	margin-left: 3%;
}
	.title-h1{
		top: 40%;
	}
	.move{
	top: 45%;
}
	.nav-bar-top {
	position: fixed;
	top: 0;
	flex-direction: row;
	font-size: 1.7rem;
	z-index: 100;
	background: none;
}

.nav-left {
	display: flex;
	flex-direction: row;
}
	
/***** header styles  ******/

.main-header {
}

.title-h1{
	font-size: 6rem;
}
	
	/****landing *****/
.landing-container {
	flex-direction: column;
	align-content: center;
	justify-content: center;
}
.landing{
	flex-direction: row;
	justify-content: space-around;
	display: flex;
}
	#landing-h1 {
	font-size: 2.1rem;
}
	.storm {
	height: 400px;
}
	.edit-form {
	font-size: 2rem;
}
.user-right{
	text-align: right;
}
	#user-h1 {
	font-size: 3rem;
}

.right {
	margin-left: 2rem;
	font-size: 2rem;
	float: right;
}

.left{
	font-size: 1.8rem;
}
.image-left img{
	margin-top: 3rem;
	margin-left: 5rem;
	width: 200px;
	height: 200px;
	border-radius: 5px;
}
	
	.profile-info {
	width: 70%;
	margin: 0 auto;
}
table {
	padding: 2.2rem;
}
tr{
	border-bottom: 1.5px solid blue;
}
td {
	padding: 1.2rem;
	font-size: 2.8rem;
}
	
	.gravatar { 
		float: left;
	}
	.gravatar img{
		border-radius: 5px;
	}
	.inline {
	display: inline-block;
}

}