body {
	padding-top: 45px;
	font-family: 'Montserrat', sans-serif;
}
.site-container {
	max-width: 1400px;
	margin: 0 auto;
	overflow: hidden;
}
.mobile-nav {
	margin-top: -450px;
	height: 450px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 30px 2%;
	background: rgba(0,0,0,.8);
	color: white;
	z-index: 3;
	-webkit-transition: margin-top 500ms ease-in-out;
	transition: margin-top 500ms ease-in-out;
}
.mobile-nav ul{
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
	float: right;
	color: white;
}
.mobile-nav ul li {
	width: 100%;
	list-style: none;
	text-align: center;
	color: white;
	font-size: 4rem;
	font-weight: 400;
	margin-bottom: 30px;
}
.mobile-nav ul li a {
	text-decoration: none;
	color: white;
	width: 100%;
	display: block;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.ion-chevron-up{
	width: 100%;
	display: block;
	margin: 0 auto;
	font-size:  4rem;
}

.nav-bar-top h3 {
	display: inline-block;
	width: 65%;
	margin:  0 0 0px 70px ;
	color: white;
}
.nav-bar-top {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 20px 2%;
	background: rgba(0,0,0,.9);
	color: white;
	z-index: 2;
}
.nav-bar-top ul{
	display: none;
	width: 65%;
	margin: 0;
	padding: 5px;
	float: right;
	color: white;
}
.nav-bar-top ul li {
	float: left;
	width: 16.6%;
	list-style: none;
	text-align: center;
	color: white;
}
a {
	text-decoration: none;
}
.nav-bar-top ul li a {
	color: white;
	width: 100%;
	display: block;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.nav-bar-top ul li:nth-child(5){
	width: 15%;
	color: black;
}
.ion-navicon-round {
	position: absolute;
	font-size: 4.5rem;	
	margin: -20px 0px 0 10px;
}

ul li a:hover{
	color: aqua;
	-webkit-transform: scale(1.04);
	transform: scale(1.04)
}

/*----------landing-=----------*/

.landing-title {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 80vh;
	padding-top: 4%;
	background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.1)), url("/assets/images/busy-street.jpg");
	width: 100%;
	background-size: cover;
	background-position: center;
}
.landing-title h1 {
	font-size: 5rem;
	color: white;
	text-shadow: 1px 2px 15px aqua;
	margin: 0px;
}
.landing-title h4{
	text-shadow: 1px 1px 1px aqua;
	font-size: .6em;
	color: white;
	margin: 3px;
}
.landing-title .ion-chevron-down{
	font-size: 4rem;
	text-shadow: 1px 1px 5px aqua;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.landing-title .ion-chevron-down:hover {
	text-shadow: 3px 3px 20px aqua;
}

.second {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #344B5B;
	
}
.ion-ios-people, .ion-ios-calendar,.ion-ios-star{
	font-size: 10rem;
	cursor: pointer;
}
.landing-child {
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 90%
}
.landing-child h4 {
	margin: 0 0 30px 0;
}
.info-div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}
.info-div h1{
	margin: 0;
	padding: 30px 0;
	font-size: 3rem;
	font-weight: 700;
	background-color: floralwhite;
}
.info-div p{
	font-size: 2rem;
	margin-left: 10px;
}

.info-div img {
	width: 100%;
	margin-bottom: 20px;
}
.top, .mid, .bot {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	margin: 0;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 10px 5%;
	min-height: 400px;
	color: whitesmoke;
}
.top{
	background: #22313F;
}
.mid{
	background: #2C3E50;
}
.info-pic {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
	margin: 20px;
}
.bot{
	background: #67809F;
}
.bot-sign {
	padding: 30px;
	background: #344B5B;
	color: white;
}
#sign-up{
	cursor: pointer;
	color: aqua;
	text-shadow: 1px 1px 20px black;
}
.footer {
	height: 300px;
	background: #3C3F41;
}

.footer{
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-around;
		height:  720px;
		flex-wrap: wrap;
	}
	.left-nav{
		width: 20%;
		margin: 0;
		color: white;
		max-height: 200px;
	}
	.left-nav li {
		list-style: none;
		margin: 15px 0px;
		font-size: 1.5rem;
		color: white;
	}
	.left-nav a {
		color: white;
		text-decoration: none;
	}
	.social-media{
		width: 70%;
		color: white;
		
		max-height: 200px;
	}
	.social-media ul{
		margin: 0;
	}
	.social-media h5 {
		margin-left: 20px; 
		font-size: 2rem
	}
	.social-media h3{
		text-align: center;
		font-size: 1.7rem
	}
	.social-media span,
	.social-media li{
		color: white;
		list-style: none;
		font-size: 2.8rem;
		text-decoration: none;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.social-media p {
		float: right: 
	}
	.contact-form{
		width: 90%;
		color: white;
		margin-bottom: 40px;
		margin-top: -150px
	}
	input {
		color: black;
		
	}


	.mentor-container {
		
		position: relative;
		background: black;
		background-image: -webkit-linear-gradient(rgba(255, 255, 255, .8), rgba(0, 0, 0, 0.1)), url("/assets/images/busy-street.jpg");
		background-attachment: fixed;
		background-position: top;
		background-size: contain;
		width: 100%;
		min-height: 900px;
		display: flex;
		margin-top: 0px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: black;
		bottom: 0;
		padding: 10px 0 0 0;
	}
	 .mentor-h1{
		font-size: 2.5rem;
		margin: 20px 0 10px 0;
	}
	.mentor-h3{
		font-size:1.2rem;
		margin: 0 0 10px 0;
	}
	.mentor-h4{
		font-size: 1rem;
		margin: 10px 0 10px 0;
	}
	.title{
		font-size: 2rem;
		margin-top: -20px;
	}
	.icon-container{
		width: 100%;
		height: 100%;
		min-height: 100px;
		background: rgba(0,0,0,.8);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		box-shadow: 1px 1px 20px 4px gray;
		color: white;
	}
	.icons{
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}
	.icons span {
		font-size: 14rem
	}
	.mentor-image{
		position: relative;
		width: 90%;
		max-width: 270px;
		min-height: 255px;
		margin-top: 30px;
		border-radius: 5px;
		box-shadow: 0px 0px 20px 1px rgba(40,40,40,1);
		
	}
	.mentor-image img {
		margin-top: 10px;
		position: absolute;
		top: -10px;
		width: 100%;
		height: 100%;
	}
	#software {
		font-size: 3rem;
		text-shadow: 2px 2px 5px black;
	}
	#software-h5{
		font-size: 1.4rem;
		text-shadow: 2px 2px 5px black;
		margin-top: -20px;
	}
	.cal {
		width: 100%;
		margin-left: -220px;
		margin: 20px 20px 15px 20px;
	}
.logged-in {
	position: absolute;
	top: 40px;
	right: 10px;
	color: aqua;
}
.logged-in p {
	font-size: 1.4rem;
}
	.container {
		position: absolute;
		background: rgba(255,255,255,.2);
		border-radius: 20px;
		box-shadow: 0px 0px 30px 2px white;
		height: 350px;
		top: calc(50% - 180px);
		width: 300px;
		left: calc(50% - 150px);		
	}
		.container-reg {
		position: absolute;
		background: rgba(255,255,255,.2);
		border-radius: 20px;
		box-shadow: 0px 0px 30px 2px white;
		height: 500px;
		top: calc(50% - 275px);
		width: 350px;
		left: calc(50% - 175px);
		padding: 40px;
	}
	.holder {
		width: 100%;
		height: 100vh;
		background: linear-gradient(-0deg,#DA762D,#673650,#3D4B9D,#072481);
		padding: 40px;
	}




@media(min-width: 560px){
	.mobile-nav ul li {
	width: 100%;
	list-style: none;
	text-align: center;
	color: white;
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 30px;
}
.icons{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}
		.container {
		height: 275px;
		top: calc(50% - 90px);
		width: 500px;
		left: calc(50% - 250px);
	}
		.container-reg {
		height: 450px;
		top: calc(50% - 90px);
		width: 500px;
		left: calc(50% - 250px);
	}
	.holder {
		width: 100%;
		height: 190vh;
		background: linear-gradient(-0deg,#DA762D,#673650,#3D4B9D,#072481);
		padding: 40px;
	}
	
	.mentor-h1{
		font-size: 3.5rem;
		margin: -30px 0 10px 0;
	}
	.mentor-h3{
		font-size:1.8rem;
		margin: 0 0 10px 0;
	}
	.mentor-h4{
		font-size: 1.4rem;
		margin: 10px 0 10px 0;
	}
	.title{
		font-size: 2rem;
		margin-top: -20px;
	}
	.landing-title h4{
	text-shadow: 1px 1px 1px aqua;
	font-size: 1.1em;
	color: white;
	margin: 3px;
}
}

/*media queries------
-----------------
------
------------------
-------*/
@media(min-width: 775px){
	#login-h2{
		margin-bottom: 30px;
	}
	#reg-h2{
		margin-bottom: 30px;
	}
	.mobile-nav{
		display: none;
	}
	.ion-navicon-round {
		display: none;
	}
	.nav-bar-top h3 {
		display: inline-block;
		width: 35%;
		margin: 0px;
		padding-left: 5%;

	}
	.nav-bar-top {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		padding: 10px 0px;

	}
	.nav-bar-top ul{
		display: inline-block;
		width: 65%;
		margin: 0;
		padding: 0px;
		float: right;
	}
	.nav-bar-top ul li {
		float: left;
		width: 25%;
		list-style: none;
		text-align: center;
		font-size: 1.8rem;
	}
	.nav-bar-top a{
		text-decoration: none;
	}

	.landing-title h1 {
	font-size: 12rem;
	color: white;
	text-shadow: 1px 2px 15px aqua;
	margin: 0px;
}
.landing-title h4{
	text-shadow: 1px 1px 1px aqua;
	font-size: 1.2em;
	color: white;
}
.landing-title .ion-chevron-down{
	font-size: 7rem;
	text-shadow: 1px 1px 5px aqua;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.landing-title .ion-chevron-down:hover {
	text-shadow: 3px 3px 20px aqua;
}
	.second {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	background: #344B5B;
	
}
.ion-ios-people, .ion-ios-calendar,.ion-ios-star{
	font-size: 10rem;
}
.info-div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}
.info-div h1{
	margin: 0;
	padding: 30px;
	font-size: 4rem;
	font-weight: 700;
}
.info-div p{
	font-size: 2.3rem;
	margin-left: 10px;

}

.info-div img {
	width: 100%;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.top, .mid, .bot {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	margin: 0;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 60px 5%;
	min-height: 500px;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.mid .info-pic {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}
	.footer{
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		height:  320px;
	}
	.left-nav{
		width: 30%;
		height: 100%;
		margin: 0;
		color: white;
		max-height: 300px;
	}
	.left-nav li {
		list-style: none;
		margin: 15px 0px;
		font-size: 2rem;
		color: white;
	}
	.left-nav a {
		color: white;
		text-decoration: none;
	}
	.social-media{
		width: 30%;
		height: 100%;
		color: white;
		max-height: 300px;
	}
	.social-media ul{
		margin: 0;
	}
	.social-media h5 {
		margin-left: 20px; 
		font-size: 2rem
	}
	.social-media h3{
		text-align: center;
	}
	.social-media span,
	.social-media li{
		color: white;
		list-style: none;
		font-size: 3rem;
		text-decoration: none;
		margin-right: 30px
	}
	.social-media p {
		float: right: 
	}
	.contact-form{
		margin-top:0;
		width: 30%;
		height: 100%;
		color: white;
		margin-bottom: 40px;
	}
	input {
		color: black;
		
	}
	.mentor-container {
		
		position: relative;
		background: black;
		background-image: -webkit-linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.1)), url("/assets/images/busy-street.jpg");
		background-attachment: fixed;
		background-position: top;
		background-size: contain;
		width: 100%;
		height: 900px;
		display: flex;
		margin-top: -50px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px 10px 100px 10px;
		color: white;
		bottom: 0;
	}
	.mentor-h1{
		font-size: 5rem;
		margin: 50px 0 10px 0;
	}
	.mentor-h3{
		font-size:2.3rem;
		margin: 0 0 10px 0;
	}
	.mentor-h4{
		font-size: 2rem;
		margin: 10px 0 40px 0;
	}
	.title{
		font-size: 2.5rem;
		margin-top: -20px;
	}
	.icon-container{
		width: 95%;
		min-height: 100px;
		background: rgba(0,0,0,.8);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		padding: 20px 10px 40px 10px;
		box-shadow: 1px 1px 20px 4px gray;
	}
	.icons{
		width: 33%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}
	.icons span {
		font-size: 14rem
	}
	.mentor-image{
		position: relative;
		width: 90%;
		max-width: 270px;
		min-height: 255px;
		margin-top: 30px;
		border-radius: 10px;
		
	}
	.mentor-image img {
		margin-top: 10px;
		position: absolute;
		top: -10px;
		width: 100%;
		height: 100%;
	}
	#software {
		font-size: 5rem;
	}
	#software-h5{
		font-size: 3rem;
	}
	.cal {
		width: 80%;
		margin: 20px 20px 15px 20px;
	}
	#topic-info{
		min-height: 300px;
		width: 100%;
		background: red;
		margin: 5px;
	}
	.editable{
		margin-top: 100px;
	}
	.container {
		position: absolute;
		background: rgba(255,255,255,.2);
		border-radius: 20px;
		box-shadow: 0px 0px 30px 2px white;
		height: 300px;
		top: calc(50% - 150px);
		width: 750px;
		left: calc(50% - 375px);		
	}
		.container-reg {
		position: absolute;
		background: rgba(255,255,255,.2);
		border-radius: 20px;
		box-shadow: 0px 0px 30px 2px white;
		height: 450px;
		top: calc(50% - 225px);
		width: 750px;
		left: calc(50% - 375px);
		padding: 40px;
	}
	.holder {
		width: 100%;
		height: 100vh;
		background: linear-gradient(-0deg,#DA762D,#673650,#3D4B9D,#072481);
		padding: 40px;
		position: relative;
	}

	.edit-form{
		width: 750px;
	}
	#profile{
		width: 750px;
	}
	.profile-name, .profile-info-right{
		display: block;
		width: 49%;
		margin: 20px 0px;
		padding: 0;
		float: left;
	}
	.profile-info-right{
		text-align: right;
	}
	.profile-center {
		width: 100%;
		text-align: center;
	}
	.gravatar img{
		width: 150px;
		border-radius: 10px;
		box-shadow: 0px 0px 20px 0px white;
	}
}